.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  padding: 2.5rem 2.6rem 1rem 2.6rem;
  border-radius: 25px;
  border-style: none;
}

.overview {

}

.overview-img {
  width: 100%;
  border-radius: 15px;
}

.overview-title {
  font-family: 'Young Serif', serif;
  font-weight: 400;
  font-size: 40px;
  padding-top: 2.5rem;
  color: hsl(24, 5%, 18%);
}

.overview-description {
  font-size: 16px;
  padding: 1rem 0;
  font-family: 'Outfit', serif;
  font-weight: 400;
  color: hsl(30, 10%, 34%);
}

.pink-box {
  padding: 1.3rem 1.8rem;
  background-color: hsl(330, 100%, 98%);
  border-radius: 12px;
  margin-bottom: 0.8rem;
}

.pink-box-title {
  font-family: 'Outfit', serif;
  font-weight: 600;
  color: hsl(332, 51%, 32%);
  padding: 0.3rem 0;
}

.pink-unorder-list {
  list-style-type: none;
  padding-left: 7px;
  margin: 0;
}

.pink-unorder-list li {
  display: flex;
  align-items: center;
  font-family: 'Outfit', serif;
  font-weight: 400;
  color: hsl(30, 10%, 34%);
}

.pink-unorder-list li::before {
  content: '•';
  color: hsl(332, 51%, 32%);
  display: inline-block;
  margin-right: 1.6rem;
  font-size: 1.35rem;
}

.detail-box {
  padding-bottom: 0.7rem;
}

.detail-box-title {
  padding-top: 1.1rem;
  padding-bottom: 0.8rem;
  font-family: 'Young Serif', serif;
  font-weight: 400;
  color: hsl(14, 45%, 36%);
}

.unorder-list {
  list-style-type: none;
  padding-left: 7px;
  margin-top: -0.2rem;
}

.unorder-list li {
  display: flex;
  align-items: center;
  font-family: 'Outfit', serif;
  font-weight: 400;
  color: hsl(30, 10%, 34%);
}

.unorder-list li::before {
  content: '•';
  color: hsl(14, 45%, 36%);
  display: inline-block;
  margin-right: 1.6rem;
  font-size: 1.35rem;
}

.order-list {
  list-style-type: none;
  padding-left: 7px;
  margin-bottom: 1.2rem;
}

.order-list li {
  counter-increment: custom-counter;
  position: relative;
  margin-bottom: 9px;
  font-family: 'Outfit', serif;
  font-weight: 400;
  color: hsl(30, 10%, 34%);
}

.order-list li p {
  margin: 0;
  text-indent: 0em;
  padding-left: 2.5em;
}

.order-list li::before {
  content: counter(custom-counter) '.';
  color: hsl(14, 45%, 36%);
  position: absolute;
  left: 0;
  font-weight: bold;
  width: 1rem;
  text-align: right;
}

.section-separator {
  border: none;
  border-top: 1px solid hsl(30, 10%, 34%);
  margin-top: 0;
}

.detail-box-table {
  width: 100%;
}

.table-description {
  font-size: 16px;
  margin-bottom: 0.5rem;
  font-family: 'Outfit', serif;
  font-weight: 400;
  color: hsl(30, 10%, 34%);
}

tr:not(:last-child) {
  border: none;
  border-bottom: 1px solid hsl(30, 18%, 87%);
  padding-top: 0;
}

th {
  padding-top: 0.8rem;
  padding-bottom: 0.7rem;
}

.table-attribute {
  font-family: 'Outfit', serif;
  font-weight: 400;
  font-size: 16px;
  color: hsl(30, 10%, 34%);
  padding-left: 2rem;
}

.table-value {
  font-family: 'Outfit', serif;
  font-weight: 600;
  font-size: 16px;
  color: hsl(14, 45%, 36%);
  padding-right: 2rem;
}