.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  padding: 1.5rem;
  border-radius: 14px;
  border-style: none;
}

.overview {

}

.overview-img {
  width: 100%;
  border-radius: 8px;
}

.overview-title {
  font-family: 'Young Serif', serif;
  font-weight: 400;
  padding-top: 3rem;
}

.overview-description {
  font-size: 16px;
  padding: 1rem 0;
  font-family: 'Outfit', serif;
  font-weight: 400;
  color: hsl(30, 10%, 34%);
}

.pink-box {
  padding: 1.6rem;
  background-color: hsl(330, 100%, 98%);
  border-radius: 12px;
}

.pink-box-title {
  font-family: 'Outfit', serif;
  font-weight: 600;
  color: hsl(332, 51%, 32%);
  padding: 0.3rem 0;
}

.detail-box {
  padding-bottom: 0.7rem;
}

.detail-box-title {
  padding-top: 2.2rem;
  padding-bottom: 0.8rem;
  font-family: 'Young Serif', serif;
  font-weight: 400;
  color: hsl(14, 45%, 36%);
}

.unorder-list {
  list-style-type: none;
  padding-left: 7px;
  margin: 0;
}

.unorder-list li {
  display: flex;
  align-items: center;
  font-family: 'Outfit', serif;
  font-weight: 400;
  color: hsl(30, 10%, 34%);
}

.unorder-list li::before {
  content: '•';
  color: hsl(14, 45%, 36%);
  display: inline-block;
  margin-right: 1.6rem;
  font-size: 1.4rem;
}

.order-list {
  counter-reset: custom-counter;
  list-style-type: none;
  padding-left: 30px;
}

.order-list li {
  counter-increment: custom-counter;
  position: relative;
  margin-bottom: 10px;
  font-size: 16px;
  color: hsl(30, 10%, 34%);
  font-family: 'Outfit', serif;
  font-weight: 400;
}

.order-list li::before {
  content: counter(custom-counter) '.';
  color: hsl(332, 51%, 32%);;
  position: absolute;
  left: -25px;
  font-weight: bold;
}

.detail-box-table {

}

.section-separator {
  border: none;
  border-top: 1px solid hsl(30, 10%, 34%); /* Color and style of the line */
  margin: 20px 0; /* Spacing around the line */
}